@model OBLIG1.Models.ViewModel.ViewDataModel

<form method="post"> 
    <label>Tittel</label>
    <input type="text"asp-for="ViewTitle"></input>
    <label> Description </label>
    <input type="text" asp-for/>
    
    <button type="submit"> Send </button>
</form>