@using OBLIG1.Models
@model IEnumerable<OBLIG1.Models.Registerforer>



@{
    ViewData["Title"] = "Registerfører - Dashboard";
}

<div class="container mt-5">
    <h1 class="text-3xl font-bold mb-3 text-success">Welcome, Registrar!</h1>

    <div class="mt-4 d-flex gap-3">
        <a asp-action="Overview" asp-controller="Obstacle" class="btn btn-primary">Obstacle Overview</a>
    </div>
</div>